.wpfh_search_location { background-color: #DBEDC2;font-weight:bold; padding:5px;margin:5px; border-radius:5px;}

.obit_page_department_info{height:50px; background-color:#e9e9ce;padding:10px;margin-top:5px;border-radius:10px;list-style:none;}

#wpfh_search_department{ background-color:#EBEBEB;border-radius:10px;padding:10px;}
.wpfh_col_l{float:left;width:50%}
.wpfh_col_r {float:left;width:50%}

.wpfh_department_search_list td{font-size:1.3em;}